<h1>Stupid Coaching</h1>
<p>Question: <%= @question %></p>
<p>Answer: <%= @answer %></p>
<p>Find me in app/views/questions/answer.html.erb</p>
<%= link_to "Ask a new question", "http://localhost:3000/question" %>
